
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: medium;
}

.gridcontainer {
    display: grid;
    /*
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 20vh 20vh 20vh;
    grid-template-columns: repeat(5,10vw);
    grid-auto-rows: 20vh;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    */
    grid-template-columns: 100px 200px 300px;
    grid-template-rows: 200px 100px;
    grid-row-gap: 5px;
    height: 100vh;
    border: 10px solid red;
    justify-content: center;
    align-content: center;
    
}

.gridwork {
    background-color: cadetblue;
    border: 10px solid darkorange;
    padding: 20px;
}